@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700');

html, body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    color: #243641;
    box-sizing: border-box;
    min-height: 100vh;
}

body {
    padding-bottom: 11rem;
    position: relative;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
    margin-top: .5rem;
    margin-bottom: .33rem;
}

h4, h5 {
    margin-top: .33rem;
    margin-bottom: .33rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p, ul, ol {
    margin: 0 0 .75rem;
}

ul, ol {
    padding-left: 2.5rem;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}

ul ul, ul ol, ol ul, ol ol {
    margin-bottom: 0;
}

ul p + ol,
ul p + ul,
ol p + ol,
ol p + ul {
    margin-bottom: 1rem;
}

em {
    font-style: italic;
}

strong {
    font-weight: 600;
}

pre {
    display: block;
    padding: .75rem;
    margin: 0 0 .75rem;
    position: relative;

    font-size: .92rem;
    line-height: 1.5;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;

    border: 1px solid #ccc;
    border-radius: .25rem;
    background-color: #F8F8F8;
}

code {
    border: 1px solid #E8E8E8;
    padding: .125rem .25rem;
    background-color: #F8F8F8;
    border-radius: .25rem;
    font-family: Menlo, Consolas, "Courier New", monospace;
    font-size: .9rem;
    overflow-x: scroll;
    word-wrap: break-word;
}

pre code {
    border: none;
    white-space: pre;
    overflow-x: auto;
    padding: .45rem;
    display: block;
}

sup {
    top: -0.5em;
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

button {
    color: white;
    background-color: #607580;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;

    border-radius: .2rem;
    border: none;
    padding: .75rem 1.25rem;

    cursor: pointer;
}

img, svg {
    max-width: 100%;
}

button:hover {
    background-color: #3D4A51;
}

#content {
    display: flex;
    position: relative;
}

#content > article {
    flex: 1;
    overflow-x: auto;
    overflow-y: hidden;
}

.container {
    margin: 0 auto;
    max-width: 76rem;
    padding: 2rem;
}

#header {
    height: 15.8rem;
    width: 100%;
    border-top: .3rem solid;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#header {
    color: white;
}

#header h1, #header h2 {
    font-weight: 600;
}

#header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

#header h2 {
    margin-top: .6rem;
}

#header p {
    font-size: .75rem;
    color: white;
}

#header a {
    color: white;
    font-weight: 600;
}

#header a:hover {
    text-decoration: none;
}

#header .container {
    height: 100%;
    padding-top: 1.75rem;
    display: flex;
}

#header .container div {
    flex: 1;
}

#header .container img {
    height: 9.4rem;
    width: 9.4rem;

    margin-right: 1.25rem;
}

.sidebar-container {
    margin-left: 1rem;
    flex-shrink: 0;
}

.sidebar-container, #sidebar {
    width: 18rem;
}

#sidebar {
    position: absolute;
    top: 1.25rem;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .25rem;
    background-clip: padding-box;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}

#sidebar.top {
    position: fixed;
    top: 1.25rem;
}

#sidebar .title {
    padding: .5rem;
    border-bottom: 3px solid rgba(0, 0, 0, .1);
    font-weight: 600;
}

#sidebar .content {
    padding: .5rem;
}

#sidebar ul {
    padding-left: 1.5rem;
}

footer {
    text-align: center;
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);

    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 2em;

    color: white;
}

footer a {
    color: white;
}

.feedback {
    position: fixed;
    bottom: 0;
    right: 1rem;
    z-index: 1;
}

.feedback button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

ul.index {
    list-style: none;
    padding-left: 0;
}

ul.index li {
    padding: .5rem 1rem;
    margin-bottom: -1px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.index li:hover {
    background-color: rgba(220, 220, 220, .1);
}

.links {
    display: flex;
}

.link {
    display: flex;
    width: 5rem;
    justify-content: flex-end;
    margin-left: .5rem;
}

.link .label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.toggle {
    display: inline-block;
    width: 100%;
}

.toggle.collapsed {
    margin-bottom: .75rem;
}

.when-collapsed:before, .when-expanded:before {
    content: "";
    height: 1rem;
    width: 1rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: .3rem;
}

.when-collapsed:before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 48 48"><path d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm10 22h-8v8h-4v-8h-8v-4h8v-8h4v8h8v4z"/></svg>');
}

.when-expanded:before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 48 48"><path d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm10 22H14v-4h20v4z"/></svg>');
}

.toggle .when-collapsed, .toggle.collapsed .when-expanded, .collapse {
    display: none;
}

.toggle.collapsed .when-collapsed, .toggle .when-expanded {
    display: flex;
    align-items: center;
}

.collapse.show {
    display: block;
}

.code-header {
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
}

.slide {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 6.25rem;

    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
}

.slide h1 {
    font-size: 5rem;
    font-weight: 600;
}

.slide h2 {
    font-size: 3.75rem;
    margin-top: 0;
}

.slide table {
    text-align: left;
}

.slide th {
    font-weight: bold;
}

.slide th, .slide td {
    padding: .125rem .625rem;
}

.slide ul {
    text-align: left;
    font-size: 2.5rem;
}

.slide p {
    font-size: 2.5rem;
}

.slide input {
    outline: none;
    border: none;
    background: none;
    text-align: center;
    font-size: 4.3rem;
    font-weight: bold;
    line-height: 1;
}

.slide.lemon-squeezy h1 {
    color: rgb(255, 205, 76);
    text-transform: uppercase;
    font-size: 6.25rem;
    font-weight: 900;
    font-style: italic;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    text-shadow: 3px 3px 5px rgba(255, 205, 76, .6);
}

.slide.lemon-squeezy:before {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iIHhtbG5zOmNjPSJodHRwOi8vY3JlYXRpdmVjb21tb25zLm9yZy9ucyMiIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNDUgNDUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ1IDQ1OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgdmVyc2lvbj0iMS4xIiBpZD0ic3ZnMiI+PG1ldGFkYXRhIGlkPSJtZXRhZGF0YTgiPjxyZGY6UkRGPjxjYzpXb3JrIHJkZjphYm91dD0iIj48ZGM6Zm9ybWF0PmltYWdlL3N2Zyt4bWw8L2RjOmZvcm1hdD48ZGM6dHlwZSByZGY6cmVzb3VyY2U9Imh0dHA6Ly9wdXJsLm9yZy9kYy9kY21pdHlwZS9TdGlsbEltYWdlIi8+PC9jYzpXb3JrPjwvcmRmOlJERj48L21ldGFkYXRhPjxkZWZzIGlkPSJkZWZzNiI+PGNsaXBQYXRoIGlkPSJjbGlwUGF0aDE2IiBjbGlwUGF0aFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggaWQ9InBhdGgxOCIgZD0iTSAwLDM2IDM2LDM2IDM2LDAgMCwwIDAsMzYgWiIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIHRyYW5zZm9ybT0ibWF0cml4KDEuMjUsMCwwLC0xLjI1LDAsNDUpIiBpZD0iZzEwIj48ZyBpZD0iZzEyIj48ZyBjbGlwLXBhdGg9InVybCgjY2xpcFBhdGgxNikiIGlkPSJnMTQiPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDExLjQwNTMsMzIuNjYxMSkiIGlkPSJnMjAiPjxwYXRoIGlkPSJwYXRoMjIiIHN0eWxlPSJmaWxsOiM1YzkxM2I7ZmlsbC1vcGFjaXR5OjE7ZmlsbC1ydWxlOm5vbnplcm87c3Ryb2tlOm5vbmUiIGQ9Ik0gMCwwIEMgNi40OCwxLjI3NSA4LjQ1MywtMS4yNjUgMTEuNjU1LC0wLjA4NCAxNC44NTcsMS4wOTcgMTEuNzQ4LC0yLjkwNCAxMC45MSwtMy41OTIgMTAuMDcsLTQuMjgxIDIuNzcsLTguNDAxIC0wLjM5NiwtNi44OSAtMy41NjMsLTUuMzc5IC0zLjU4LC0wLjcwNSAwLDAiLz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTUuMDAxLDIwKSIgaWQ9ImcyNCI+PHBhdGggaWQ9InBhdGgyNiIgc3R5bGU9ImZpbGw6Izc3YjI1NTtmaWxsLW9wYWNpdHk6MTtmaWxsLXJ1bGU6bm9uemVybztzdHJva2U6bm9uZSIgZD0ibSAwLDAgYyAtMC4zMDQsMCAtMC42MDUsMC4xMzggLTAuODAxLDAuNCAtMC42ODcsMC45MTYgLTEuMzA4LDEuOTU1IC0xLjk2NSwzLjA1NiAtMi4yNjgsMy43OTUgLTQuODM5LDguMDk4IC0xMS40NTIsOS41NjggLTAuNTM5LDAuMTIgLTAuODc5LDAuNjU0IC0wLjc1OSwxLjE5MyAwLjEyLDAuNTM5IDAuNjU0LDAuODc4IDEuMTkzLDAuNzU5IEMgLTYuMzMsMTMuMzIgLTMuNDAyLDguNDE5IC0xLjA0OSw0LjQ4MSAtMC40MiwzLjQyNyAwLjE3NSwyLjQzMiAwLjc5OSwxLjYgMS4xMywxLjE1OCAxLjA0MSwwLjUzMSAwLjU5OSwwLjIgMC40MTksMC4wNjUgMC4yMDgsMCAwLDAiLz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMzQuMjk5OCw0LjQ2NTgpIiBpZD0iZzI4Ij48cGF0aCBpZD0icGF0aDMwIiBzdHlsZT0iZmlsbDojZmZjYzRkO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lIiBkPSJtIDAsMCBjIDAuMDAyLDAuMDE3IC0wLjAwMywwLjAyOCAtMC4wMDMsMC4wNDMgMi43NzQsNS4zMzUgMi42NDgsMTUuMTEzIC0zLjM0NiwyMS4xMDcgLTUuOCw1LjggLTEzLjY3OSw1LjgyMSAtMTguNzY3LDQuMDY3IC0xLjU3OCwtMC42MTQgLTIuOTE2LC0wLjA2NiAtMy44MTUsLTAuOTY1IC0wLjg4MSwtMC44ODEgLTAuMzUxLC0yLjcxOSAtMC43MTQsLTMuODE5IC0zLjE2OSwtNS4yMDIgLTMuNDA1LC0xMy4wMjUgMi42ODcsLTE5LjExNyA0Ljk2MiwtNC45NjIgMTAuNDM4LC02Ljg0MSAxOS45OCwtNC44NTIgMC4wMDIsMC4wMDIgMC4wMDUsMTBlLTQgMC4wMDgsMC4wMDIgMS4xNDksMC4yMTggMi45NSwtMC41MjQgMy41NjcsMC4wOTQgQyAwLjY4MywtMi4zNTUgLTAuMDk0LC0xLjA4MyAwLDAiLz48L2c+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOC4yMDgsMjkuNDE3NSkiIGlkPSJnMzIiPjxwYXRoIGlkPSJwYXRoMzQiIHN0eWxlPSJmaWxsOiM3N2IyNTU7ZmlsbC1vcGFjaXR5OjE7ZmlsbC1ydWxlOm5vbnplcm87c3Ryb2tlOm5vbmUiIGQ9Im0gMCwwIGMgMCwwIC00LjI3LDAuNTkgLTYuODU3LC00LjU5OSAtMi41ODgsLTUuMTg4IDAuNTgyLC05LjEyNCAwLjI4OSwtMTIuNjUyIC0wLjI5MywtMy41MzEgMS41NjYsLTEuMjY1IDIuNjIxLDAuNDQ1IDEuMDU1LDEuNzEgNC4yMyw0Ljg5NCA0LjkzOCw5LjI2OSBDIDEuNjk5LC0zLjE2MyAwLjkyMiwtMS4wODEgMCwwIi8+PC9nPjwvZz48L2c+PC9nPjwvc3ZnPg==);
}

.slide label {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
}

.slide.text {
    text-align: left;
    justify-content: flex-start;
    overflow-y: scroll;
}

.slide .inner {
    font-size: 1rem;
    max-width: 44rem;
}

.slide .inner * {
    font-size: 1rem;
}

.slide.text h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.slide.text h2 {
    font-size: 1.6rem;
}

.slide.text h3 {
    font-size: 1.15rem;
}

.slide.text p {
    font-size: 1rem;
}

.faces {
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;

    display: flex;
    justify-content: space-between;
    width: 15.625rem;
}

.face {
    width: 3.75rem;
    height: 3.75rem;
}

.hidden-checkbox {
    user-select: none;
    cursor: pointer;
    color: white;
}

.hidden-checkbox input[type=checkbox] {
    position: absolute;
    left: -9999px;
}

.hidden-checkbox :checked + span {
    transform: scale(1.1, 1.1) skewX(-12deg);
    text-shadow: 0 0 5px white;
}

.hidden-checkbox span {
    display: inline-block;
    transition: all 200ms ease;
    transition-property: transform, text-shadow;
}

.hidden-checkbox .check {
    opacity: 0;
}

.hidden-checkbox :checked + span .check {
    transition: opacity 200ms ease;
    opacity: 1;
}

@media (max-width: 1050px) {
    #sidebar, .sidebar-container {
        display: none;
    }
}

@media (max-width: 700px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .links {
        flex-direction: column;
    }

    .link:first-child {
        margin-top: .25rem;
    }

    .link .label {
        margin-bottom: .25rem;
    }

    .code-header .host {
        display: none;
    }
}

@media print {
    .feedback {
        display: none;
    }
}

.label {
    display: inline-block;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    padding: .125rem .5rem;

    font-size: .75rem;
}

a.label:hover {
    color: white;
    text-decoration: none;
}

.label-default {
    background-color: #999
}

.label-default[href]:hover, .label-default[href]:focus {
    background-color: gray
}

.label-primary {
    background-color: #00A79D
}

.label-primary[href]:hover, .label-primary[href]:focus {
    background-color: #00746d
}

.label-success {
    background-color: #5cb85c
}

.label-success[href]:hover, .label-success[href]:focus {
    background-color: #449d44
}

.label-info {
    background-color: #5bc0de
}

.label-info[href]:hover, .label-info[href]:focus {
    background-color: #31b0d5
}

.label-warning {
    background-color: #f0ad4e
}

.label-warning[href]:hover, .label-warning[href]:focus {
    background-color: #ec971f
}

.label-danger {
    background-color: #CA7070
}

.label-danger[href]:hover, .label-danger[href]:focus {
    background-color: #bc4b4b
}
